/* Base */
body {
  color: rgb(255, 255, 255);
}


/* CMD Structure */
#back {
  width: 90%;
  height: 90vh;
  margin: 2.5% auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 0 20px #000;
  border: 1px solid #000000;
  overflow: hidden;
  border: 0;
}

#bar {
  height: 40px;
  background-color: #333333;
  border-radius: 8px 8px 0 0;
  border: 0px solid #333333;
  display: flex;
  justify-content: start;
  align-items: end;
  padding-left: 10px;
  font-family: "Inter";
}

.tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 210px;
	height: 27px;
	background-color: gray;
	border-radius: 8px 8px 0 0;
	padding: 3px 15px;
	margin-right: 5px;
	text-decoration: none;
	font-size: 15px;
}
.tab.selected {
	background-color: black;
}
.tab::after {
	display : block;
	content: "⨯";
  font-size: 20px;
}
.tab:hover {
  background-color: darkgray;
}
.tab.selected:hover {
	background-color: black;
}

a {
  color: white;
  font-weight: bold;;
}
.os {
	flex-grow: 5;
	display: flex;
	justify-content: end;
	align-items: center;
	padding-bottom: 5px;
	padding-right: 5px;
}
.end {
	display: flex;
	text-decoration: none;
	padding: 10px 10px;
	text-align: right;
	border-radius: 5px;
	height: 10px;
	min-width: 24px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}
	
#clear:hover,#square:hover{
	background-color: gray;
}

#croix:hover {
	background-color: red;
}

#croix {
  font-size: 23px;
  font-weight: lighter;
}
#square {
  padding-top: 8px;
  font-size: 19px;
  font-weight: lighter;
}
#clear {
  padding-top: 7px;
  font-size: 30px;
  font-weight: lighter;
}

.content {
  position: relative;
  width: 100%;
  height: 93%;
  margin: 0.5% auto;
  padding-left: 10px;
  padding-right: 10px ;
  background-color: black;
  overflow-y: scroll;
  border: 0;
  word-break: break-word;
  font-family: Consolas, "Cascadia Mono", monospace;
}


/* Text */
p {
  color : white
}

h2,h1 {
  color : greenyellow;
}

h3 {
  font-size: 30px;
}

#center {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 95%;
}

#title {
  font-size: 300px;
}

.under {
  position: absolute;      
  bottom: 0px;
  left: 30px;
  font-size: 20px;
  color: gray;
}

/* Credits */
#credits {
  position: fixed;
  left: 15px;
  bottom: 0px;
  color: gray;
  font-weight: bold;
  font-family: "Inter";
}
#green {
  color: #279627;
}
#orange {
  color: #ce8704;
}

#git_logo {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5px;
  width: 3.2%;
}

#git_logo:hover {
	background-color: #000000;
}

.typing_animation {
  overflow: hidden; /* Assure que le texte déborde */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  animation: typing 1.5s steps(5); 
}

@keyframes typing {
  from { width: 0 }
  to { width: 5ch } /* ch = nb charactères */
}